<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cory.awesomelist">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_awesome_list"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_awesome_list"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Lists"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SubList"
            android:label="@string/title_activity_sub_list"
            android:parentActivityName=".Lists"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.cory.awesomelist.Lists" />
        </activity>
        <activity
            android:name=".Share"
            android:label="@string/title_activity_share"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.cory.awesomelist.Lists" />
        </activity>
    </application>

</manifest>